stages:
  - build
  - test
  - deploy

build-job:
  stage: build
  script:
    - echo "Hello, $GITLAB_USER_LOGIN! This is a build job."
    - echo "Building the project..."

test-job:
  stage: test
  script:
    - echo "Running tests..."
    - echo "This job tests something, but takes more time than test-job1."

deploy-prod:
  stage: deploy
  script:
    - echo "This job deploys something from the $CI_COMMIT_BRANCH branch."
  environment: production
