name: Trigger GitLab CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 

      - name: Trigger GitLab CI
        run: |
          curl --request POST \
          --form token=${{ secrets.GITLAB_TRIGGER_TOKEN }} \
          --form ref=main \
          https://gitlab.com76963714/trigger/pipeline
